*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Minecraft";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* background-image: url("./images/sonic_green_hill_zone.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.button-container{
    position: relative;
    display: inline-block;
    padding: 4px;
    background-color: #d9d9d9;
    overflow: hidden;
    background-clip: content-box;
    cursor:pointer;
    user-select: none;
    font-weight: bold;
    font-style: normal;
}

.button-container {
    transform: translateY(-200px); 
}

/* CARD CONTENT  */
.card {
    background-color: #caf0f8;
    transform: translateY(-50px);
    font-size: 24px;
    color: rgb(4,120,190);
    cursor: grab;
}

.button-container:active {
    top: 4px;
}

.button-container.success {
    background-color: forestgreen;
    color: black;
}

.button-container > p {
    margin: 8px;
}

.corner {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("https://svgshare.com/i/158Q.svg");
    background-size: cover;
}
  
.corner-top-left {
    top: 0;
    left: 0;
}
  
.corner-top-right {
    top: 0;
    right: 0;
    transform: scaleX(-1);
}
  
.corner-bottom-left {
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
}
  
.corner-bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.border {
    position: absolute;
    background-color: #000;
}
  
.border-top,
.border-bottom {
    left: 8px;
    right: 8px;
    height: 4px;
  }

.border-left,
.border-right {
  top: 8px;
  bottom: 8px;
  width: 4px;
}

.border-top {
  top: 0;
}

.border-bottom {
  bottom: 0;
}

.border-left {
  left: 0;
}

.border-right {
  right: 0;
}
