*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Minecraft", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.button-container{
    position: relative;
    display: inline-block;
    padding: 4px;
    background-color: #d9d9d9;
    overflow: hidden;
    background-clip: content-box;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-style: normal;
}

.button-container {
    transform: translateY(-100px); 
}

/** CARD CONTENT  */
.card {
    transform: translateY(-50px);
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    cursor: grab;
}

.button-container:active {
    top: 4px;
}

.button-container > p {
    margin: 8px;
}

.corner {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("https://svgshare.com/i/158Q.svg");
    background-size: cover;
}
  
.corner-top-left {
    top: 0;
    left: 0;
}
  
.corner-top-right {
    top: 0;
    right: 0;
    transform: scaleX(-1);
}
  
.corner-bottom-left {
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
}
  
.corner-bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.border {
    position: absolute;
    background-color: #000;
}
  
.border-top, .border-bottom {
    left: 8px;
    right: 8px;
    height: 4px;
  }

.border-left, .border-right {
  top: 8px;
  bottom: 8px;
  width: 4px;
}

.border-top {
  top: 0;
}

.border-bottom {
  bottom: 0;
}

.border-left {
  left: 0;
}

.border-right {
  right: 0;
}

/** ZONE 1 & 2 */
ul {
    position: relative;
    padding: 10px;
}

li {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#hover-image {
    position: absolute;
    width: 50%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    pointer-events: none;
    border-style: solid;
    border-radius: 10px;
}

/* Mobile S - 320px */
@media (min-width: 320px) {
    .card {
        font-size: 15px;
        padding:4px;
    }
}

/* Mobile M - 375px */
@media (min-width: 375px) {
    .card {
        font-size: 18px;
        padding: 4px;
    }
}

/* Mobile L - 425px */
@media (min-width: 425px) {
    .card {
        font-size: 18px;
        padding: 4px;
    }
}

/* Tablet - 768px */
@media (min-width: 768px) {
    .button-container {
        font-size: 15px;
        padding: 4px;
    }
    .card {
        font-size: 21px;
        padding: 4px;
    }
}

/* Laptop - 1024px */
@media (min-width: 1024px) {
    .button-container {
        font-size: 30px;
        padding: 4px;
    }
    .card {
        font-size: 30px;
        padding: 4px;
    }
}

/* Laptop L - 1440px */
@media (min-width: 1440px) {
    .button-container {
        font-size: 25px;
        padding: 4px;
    }
    .card {
        font-size: 25px;
        padding: 4px;
    }
}

/* 4k - 2560px */
@media (min-width: 2560px) {
    .button-container {
        font-size: 40px;
        padding: 4px;
    }
    .card {
        font-size: 40px;
        padding: 4px;
    }
} 